* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background: rgba(192, 185, 185, 0.52);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header img {
  height: 80px;
}

header a {
  text-decoration: none;
  color: rgb(209, 97, 77);
  font-size: 1.4em;
  padding: 1em;
}

header a:hover {
  text-decoration: underline;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
